

.card {
  height: 479px;
  width: 204px;
  transition: all;

  //&:hover {
  //  background: rgba(255, 188, 0, 0.1);
  //}

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F2EE;
    mix-blend-mode: normal;
    border-radius: 10px;
    margin-bottom: 14px;
    margin-right: 10px;
    width: 183px;
    height: 180px;
  }

  &__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 18px;
    overflow: hidden;
    height: 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    min-width: 204px;

    &__cell {
      display: flex;
      align-items: center;
      height: 31px;
      padding: 7px;
      overflow: hidden;
      white-space: nowrap;

      &.rating {
        i {
          color: #FFBC00;
          margin-right: 7px;
        }
      }


      &.gray {
        background: #F4F2EE;
      }
    }

    &.blank {
      margin-top: 242px;
      font-weight: 800;
    }
  }

  &__buttons {
    padding: 0 9px;
    display: flex;
    justify-content: space-around;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 20px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    &-like {
      width: 51px;
      height: 35px;
      background: #FFFFFF;
      border: 2px solid #FF9F9F;
      box-sizing: border-box;
      border-radius: 4px;

      i {
        color: #FF9F9F;
      }

      &:hover {
        background: #FF9F9F;
        i {
          color: white;
        }
      }
    }

    &-buy {
      background: #009900;
      border-radius: 4px;
      color: white;

      i {
        margin-right: 10px;
      }

      &:hover {
        background: #0e6b0e;
      }
    }

  }
}

.fadeout {
  position:relative;
  color: #000;
  background: white;
}

.fadeout:after {
  content:'';
  top:0;
  bottom:0;
  right:0;
  width:50%;
  background: linear-gradient(90deg ,transparent,white);
  position:absolute;
  z-index:1;
  pointer-events:none;
}
